<!--The content below is only a placeholder and can be replaced.-->
 <div class="row" style="background-color:#333">
  
    <h1>Pradhan Mantri Kaushal Vikas Yojna</h1>
    
  </div>

  <div class="row">
    
    <ul>
        <li><a href="src\app\home\home.component.html">Home</a></li>
        <li><a href="src\app\about\about.component.html">About Us</a></li>
        
        <li class="dropdown">
          <a href="javascript:void(0)" class="dropbtn">Candidate</a>
          <div class="dropdown-content">
            <a href="src\app\candidate\candidate.component.html">Candidate Registration</a>
            <a href="src\app\clogin\clogin.component.html">Candidate Login</a>
          </div>
        </li>
        <li class="dropdown">
            <a href="javascript:void(0)" class="dropbtn">Establishment</a>
            <div class="dropdown-content">
              <a href="src\app\establishment\establishment.component.html">Establishment Registration</a>
              <a href="src\app\elogin\elogin.component.html">Establishment Login</a>
            </div>
          </li>
          <li><a href="src\app\search\search.component.html">Search Establishment</a></li>
      </ul>
    </div>

<router-outlet></router-outlet>
